date-picker {
  background-color: white;
  .header {
    background-color: color($colors, primary);
    color: color($colors, light);
    min-height: 200px;
    max-height: 200px;
    padding: 10px;
    height: 100%;
    ion-row {
      height: 100%;
    }
    .day-of-week,
    .month,
    .year {
      font-size: 1.5em;
    }
    .day {
      font-size: 3em;
    }
  }
  .body {
    padding-top: 0 !important;
    .month-year {
      font-size: 1.2em;
      padding: 5px 0;
    }
    .days-of-week {
      font-weight: bold;
    }
    .day {
      padding-top: 3px !important;
      padding-bottom: 3px !important;
      span {
        display: block;
        width: 36px;
        height: 36px;
        line-height: 36px;
        border-radius: 50%;
      }
      &.selected {
        span {
          background-color: color($colors, primary);
          color: color($colors, light);
        }
      }
      &.disabled {
        span {
          color: #cfcfcf;
        }
      }
    }
  }
}
